.Main {
  flex-direction: column;
  font-size: 0.85em;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  gap: 1em;

  /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
  animation: fadeIn 1s;
  opacity: 1;
}

.Main h1 {
  font-size: 2em;
  font-weight: 600;
  color: var(--title);
  text-align: center;
}
.Main p {
  display: block;
  width: 60ch;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.Main .container {
  flex-direction: column;
  gap: 1em;
  width: 30ch;
  max-width: 100%;
}

.Main .link {
  display: inline;
  text-decoration: none;
  color: var(--gray1);
  transition: color 0.2s;
  align-items: center;
}

.Main .link:hover {
  color: var(--gray2);
}

.Main .tokenButtons {
  display: grid;
  grid-template-columns: 1fr 1.5em 1.5em;
  grid-gap: 0.5em;
  padding-right: calc(0.5em / 2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
