:root {
  --bg: #111;

  --text: #aaa;
  --title: #fff;

  --gray1: #bbb;
  --gray2: #ddd;
  --gray3: #fff;

  --sans: Roboto, sans-serif;
  --mono: Inconsolata, monospace;
  --bs: 0 0 0.5em var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

html *:not(head *):not(script):not(style) {
  /* https://www.youtube.com/watch?v=bngsrbFI2UY&t=120s */
  display: flex;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--sans);
  font-size: clamp(
    calc(calc(100vh + 100vw) / 120),
    1.75rem,
    calc(calc(100vh + 100vw) / 50)
  );
  font-weight: 300;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
}
